
body, html {
    background-color: #3b3b3b;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav {
    background-color: #fafafa;
    padding: 10px;
    position: sticky;
}

.navbar {
    display: inline;
    padding: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #555;
    color: #fafafa;
    padding: 11px;
}

a.sample {
    text-decoration: none;
    color: #fafafa;
/*    height: auto;*/
}

a.sample:hover {
    background-color: transparent;
    padding: 0;
}

.manual {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/word.png");
    background-size: cover;
    background-position: center;
    padding: 95px 30px 0 30px;
    margin: 10px;
    grid-area: manual;
}

.grant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/ladyliberty.jpg");
    background-size: cover;
    background-position: center top;
    padding: 95px 30px 0 30px;
    margin: 10px;
    grid-area: grant;
}

.lavenderscare {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/prideflag.jpg");
    background-size: cover;
    padding: 95px 30px 0 30px;
    margin: 10px;
    grid-area: lavenderscare;
}

.bellevue {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/bellevue.jpg");
    background-position: center;
    background-size: cover;
    padding: 105px 30px 0 30px;
    margin: 10px;
    grid-area: bellevue;
}

.cadycolman {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/astronaut.jpg");
    background-size: cover;
    background-position: center top;
    padding: 105px 30px 0 30px;
    margin: 10px;
    grid-area: cadycolman;
}

.gibson {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/indesign.png");
    background-position: left;
    background-size: cover;
    padding: 105px 30px 0 30px;
    margin: 10px;
    grid-area: gibson;
}

.client {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/wireframes.jpg);
    background-size: cover;
    background-position: center;
    padding: 105px 30px 0 30px;
    margin: 10px;
    grid-area: client;
}

.earth {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/environment2.jpg);
    background-size: cover;
    background-position: center;
    padding: 105px 30px 0 30px;
    margin: 10px;
    grid-area: earth;
}

.gridwrapper {
    color: white;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1px;
    grid-template-areas: 
        "manual grant"
        "lavenderscare gibson"
        "bellevue cadycolman"
        "earth client";
}


.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 90%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: -35%;
  left: 6%;
    width: 60%;
/*  transform: translate(-90%, -100%);*/
  text-align: center;
}

.container:hover .image {
  opacity: 1;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #3b3b3b;
  font-family: "Roboto", sans-serif;
    text-align: left;
  color: white;
  font-size: 16px;
    width: 125%;
  padding: 26px 32px;
/*    margin: -30px 28px;*/
}
