
body, html {
    background-color: #3b3b3b;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav {
    background-color: #fafafa;
    padding: 10px;
    position: sticky;
}

.navbar {
    display: inline;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #20273a;
}

a:hover {
    background-color: #20273a;
    color: #fafafa;
    padding: 11px;
    text-align: center;
}

a:active {
    color: #20273a; 
}

a.sample {
    text-decoration: none;
    color: #fafafa;
/*    height: auto;*/
}

a.sample:hover {
    background-color: transparent;
    padding: 0;
}

.bananas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/groceries.jpg);
    background-size: cover;
    background-position: center;
    padding: 105px 30px 0 30px;
    margin: 10px;
    grid-area: bananas;
}

.votes {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/votes.jpg);
    background-size: cover;
    background-position: center;
    padding: 105px 30px 0 30px;
    margin: 10px;
    grid-area: votes;
}

.pets {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/pets.jpg");
    background-size: cover;
    background-position: center;
    padding: 95px 30px 0 30px;
    margin: 10px;
    grid-area: pets;
}

.books {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/books.jpg");
    background-size: cover;
    background-position: center top;
    padding: 95px 30px 0 30px;
    margin: 10px;
    grid-area: books;
}

.gridwrapper {
    color: white;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1px;
    grid-template-areas: 
        "votes bananas"
        "pets books"
        ;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 90%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: -35%;
  left: 6%;
    width: 60%;
/*  transform: translate(-90%, -100%);*/
  text-align: center;
}

.container:hover .image {
  opacity: 1;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #3b3b3b;
  font-family: "Roboto", sans-serif;
    text-align: justify;
  color: white;
  font-size: 16px;
    width: 125%;
  padding: 26px 32px;
/*    margin: -30px 28px;*/
}

.text a {
    color: #fff;
}

.text a:hover {
    padding: 0;
}